.buttonWrapper {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  &__innerButton {
    padding: 16px 64px;
    border-radius: 100px;
    background-color: #d8320f;
    margin-right: 61px;
    cursor: pointer;

    &__text {
      color: #ffffff;
      font-weight: 400;
      font-size: 20px;
      line-height: 28px;
      position: relative;
      z-index: 1;
    }

    &__part {
      width: 25px;
      height: 18px;
      background-color: #d8320f;
      position: absolute;
      top: 50%;
      right: 37px;
      transform: translateY(-50%); /* Центрируем по вертикали */
      z-index: 0;
    }

    &__circle {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 44px;
      height: 44px;
      border-radius: 50%;
      background-color: #d8320f;
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%); /* Центрируем по вертикали */
      z-index: 0;
    }

    &__icon {
      width: 50%;
      height: 50%;
      display: block; /* Убираем пробелы */
    }
    // Новый стиль для альтернативной кнопки
    &__alternative {
      &__text {
        margin-right: 0;
      }

      &__part,
      &__buttonCircle {
        display: none;
      }
    }
  }
}

.button {
  border: none;
  outline: none;
  text-decoration: none;
  background: none; /* Чтобы не конфликтовало с buttonWrapper */
}
