.container {
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin: 0 50px 125px 50px;

  &__content {
    min-height: 863px;
    display: grid;
    grid-template-columns: 630px 690px 460px;

    /* Устанавливаем порядок элементов */
    grid-template-areas:
      "a b c"
      "a d c";

    gap: 20px;

    &__card {
      position: relative;
    }

    &__card:nth-child(1) {
      grid-area: a;

      background-image: url("../../media/whyChoseUsImg/image1.png");
      background-repeat: no-repeat;
      background-size: cover;

      h3 {
        padding-top: 16px;
      }

      p {
        position: absolute;
        bottom: 16px;
        right: 0;
        max-width: 480px;
      }
    }

    &__card:nth-child(2) {
      grid-area: b;

      background-image: url("../../media/whyChoseUsImg/image2.png");
      background-repeat: no-repeat;
      background-size: cover;

      h3 {
        padding-top: 16px;
        text-align: end;
      }

      p {
        position: absolute;
        bottom: 16px;
        left: 0;
        max-width: 485px;
      }
    }

    &__card:nth-child(3) {
      grid-area: c;

      background-image: url("../../media/whyChoseUsImg/image3.png");
      background-repeat: no-repeat;
      background-size: cover;

      h3 {
        padding-top: 16px;
        text-align: end;
      }

      p {
        position: absolute;
        bottom: 16px;
        left: 0;
        max-width: 327px;
      }
    }

    &__card:nth-child(4) {
      grid-area: d;

      background-image: url("../../media/whyChoseUsImg/image4.png");
      background-repeat: no-repeat;
      background-size: cover;

      h3 {
        padding-top: 16px;
      }

      p {
        position: absolute;

        bottom: 16px;
        left: 25%;
        max-width: 445px;
      }
    }
  }
}
