@font-face {
  font-family: "Lato";
  src: url("/fonts/Lato-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Lato";
  src: url("/fonts/Lato-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Caviar Dreams";
  src: url("/fonts/CaviarDreams.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Caviar Dreams";
  src: url("/fonts/CaviarDreams_Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Avenir LT Pro";
  src: url("/fonts/AvenirLTProRoman.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Avenir LT Pro";
  src: url("/fonts/AvenirLTProOblique.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Avenir LT Pro";
  src: url("/fonts/AvenirLTProBook.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Avenir LT Pro";
  src: url("/fonts/AvenirLTProBookOblique.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Avenir LT Pro";
  src: url("/fonts/AvenirLTProMedium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Avenir LT Pro";
  src: url("/fonts/AvenirLTProMediumOblique.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Avenir LT Pro";
  src: url("/fonts/AvenirLTProBlack.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Avenir LT Pro";
  src: url("/fonts/AvenirLTProBlackOblique.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}
