header {
  display: flex;
  justify-content: center;
  margin: 118px 0;
  min-height: 950px;
  width: 100%;

  background-image: url("../../media/images/backgroundHeader.png");
  background-repeat: no-repeat;
  background-size: cover;

  .headerContainer {
    width: 100%;
    position: relative;

    &__h1 {
      font-family: "Caviar Dreams";
      font-weight: 700;
      font-size: 110px;
      line-height: 121px;
      text-transform: uppercase;
      max-width: 1195px;

      > span {
        color: #d8320f;
      }
    }

    &__imgCircle {
      position: absolute;
      top: 0;
      right: 56px;
      width: 122px;
      height: 122px;
    }

    &__img {
      width: 1228px;
      height: 565px;
      margin-left: 176px;
      z-index: 10;
    }

    &__span1 {
      position: absolute;
      top: 28%;
      right: 31%;
      font-family: "Avenir LT Pro";
      font-weight: 400;
      font-size: 200px;
      line-height: 220px;
      text-transform: uppercase;
      color: #ffffff4d;
      z-index: 1;
    }

    &__span2 {
      position: absolute;
      top: 45%;
      right: 12%;
      font-family: "Avenir LT Pro";
      font-weight: 400;
      font-size: 200px;
      line-height: 220px;
      text-transform: uppercase;
      color: #ffffff4d;
      transform: rotate(90deg);
    }

    .ourResults {
      display: flex;
      align-items: center;
      gap: 80px;
      margin-left: 175px;

      &__div {
        display: inline;
        gap: 8px;

        h4 {
          color: #d8320f;
          font-weight: 400;
          font-size: 30px;
          line-height: 33px;
          text-align: center;
          text-transform: uppercase;
        }

        p {
          font-weight: 400;
          font-size: 16px;
          line-height: 22px;
        }
      }
    }

    &__button {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      margin-right: 50px;
    }
  }
}
