@import "./fonts.scss";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Lato";
  color: #2a2a2a;
}

a {
  text-decoration: none;
}

main {
  max-width: 1920px;
  margin: 0 auto;
}
